<div class="left-home" style="margin-top: 15px">
	
	<div>
		<div class="col-xs-12" style="padding-left: 45px">
			<span>
				<a class="usname camel" href="/user/<%= us.id %>" style="color:#000">
					<span style="font-size: 22px; font-weight:bold">
						<%= us.fname %> <%= us.lname %>
					</span>
				</a>
			</span><br>
			<span class="handle">
				<a href="/user/<%= us.id %>" style="color:#8899a6">
					<% if(us.tweet_handle) { %>
						<span style="font-size: 15px;">
							@<%= us.tweet_handle %>
						</span>
					<% } %>
				</a>
			</span><br><br>
			<span>
				<i class="fa fa-calendar" style="color: #8899a6"></i>
				<span style="color:#292f33">Joined On 
				<%
					var month = new Array();
					month[0] = "January";
					month[1] = "February";
					month[2] = "March";
					month[3] = "April";
					month[4] = "May";
					month[5] = "June";
					month[6] = "July";
					month[7] = "August";
					month[8] = "September";
					month[9] = "October";
					month[10] = "November";
					month[11] = "December"; %>
					<%=
					month[(new Date(us.createdAt)).getMonth()];
				%> <%= (new Date(us.createdAt)).getDate() %>, <%= (new Date(us.createdAt)).getFullYear();  %>
				</span>
			</span>
		</div>
		<div class="col-xs-12" style="margin-top: 7px; padding-left: 60px">
			<span ng-if="profuserid == profuser_id">
				<div class="row">
					<span class="btn btn-success"><input type="file" name="profilePhoto" id="profilePhoto">Change photo</span>
				</div>
			</span>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	var Proffile = "";
	$("#profilePhoto").change(function() {
		Proffile = this.files[0];
		var reader = new FileReader();
		reader.onload = imageIsLoaded;
		reader.readAsDataURL(this.files[0]);
	});
	function imageIsLoaded(e) {
		var formData = new FormData();
	    filename = document.getElementById('profilePhoto').value;
	    formData.append('myFile', Proffile);
	    console.log(filename);
	    
	    var xhr = new XMLHttpRequest();
	    
	    xhr.onreadystatechange = function() {
		    if (xhr.readyState == 4 && xhr.status == 200) {
		      	$('.profImage').attr('src', e.target.result);
		    }
		}

	    xhr.open('post', '/updateprof', true);

	    xhr.send(formData);
	};
})
</script>